body{
    font-family: "Calibri";
    width: 100%;
    margin: 0px;
    color: #f7f9fc;
    font-size: 20px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; 
}

.wrapper{
    padding-left: 133px;
    padding-right: 133px;
    background-image: linear-gradient(to bottom right, rgb(213, 218, 226), rgb(127, 134, 145));
}

.title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: #1655ba;
}

a{
    cursor: pointer;
}
.contact-address{
    
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}

.line-break{
    margin-bottom: 15px;
    margin-top: 15px;
    width: 1098px;
    color: aliceblue;
    line-height: 3px;
}

.body-container{
    padding-left: 100px;
    padding-right: 100px;
    /* background-color: rebeccapurple; */
}

.info-wrapper{
    width: 1000px;
}

.topic{
    padding-top: 23px;
    font-weight: 600;
    float: left;
    padding-right: 50px;
}

.float-left{
    float: left;
}

.content{
    float: left;
    padding-top: 23px;
}