body{
    font-family: "Calibri";
    width: 100%;
    margin: 0px;
    color: #f7f9fc;
}
.header{
    background-image: linear-gradient(to bottom right, rgb(213, 218, 226), rgb(127, 134, 145));
}

.title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: #1655ba;
}

.contact-address{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 7px;
}

.line-break{
    width: 1100px;
    color: aliceblue;
    line-height: 3px;
}